body {
  font-family: "Poppins", sans-serif;
  padding: 0 15%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
  text-transform: uppercase;
  word-wrap: break-word;
}
p {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  word-wrap: break-word;
}

/* Header */
header {
  margin: 80px 0;
  display: flex;
}
header > div {
  width: 50%;
}
header h2 {
  font-family: "PT Serif", serif;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
header p {
  max-width: 400px;
}

/* Team Members */
.members {
  height: 400px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
}
.image-container p {
  writing-mode: vertical-rl;
  margin: 0 5px;
  font-size: 12px;
}
.image-container {
  display: flex;
}
.members > div {
  flex: 1;
}

.members > div:nth-child(3n + 2) {
  margin-top: 50px;
}
@media screen and (max-width: 576px) {
  body {
    padding: 0 5%;
  }
  header {
    margin: 30px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  header > div {
    width: 100%;
  }
  .members {
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .members > div:nth-child(3n + 2) {
    margin-top: 0px;
  }
  .members > div:nth-child(2n + 2) {
    margin-top: 50px;
  }
}
