body {
  font-family: "Poppins", sans-serif;
  padding: 0 10%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
  text-transform: uppercase;
  word-wrap: break-word;
}
p {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  word-wrap: break-word;
}

/* Header */
header {
  margin: 80px 0;
  display: flex;
}
header > div {
  width: 50%;
}
header h2 {
  font-family: "PT Serif", serif;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
header p {
  max-width: 400px;
}

/* Team Members */
/* .members {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
} */
.members {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.image-container p {
  writing-mode: vertical-rl;
  margin: 0 5px;
  font-size: 12px;
}
.image-container {
  display: flex;
}
.members > div {
  flex: 1;
}

.members > div:nth-child(3n + 2) {
  margin-top: 50px;
}
/* Footer */
footer {
  margin: 100px 0 20px 0;
}
footer p {
  color: #a9a9a9;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}
footer span {
  color: #a9a9a9;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (max-width: 576px) {
  body {
    padding: 0 5%;
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 14px;
  }
  header {
    margin: 30px 0 60px 0;
    flex-direction: column;
    gap: 30px;
  }
  .image-container p {
    font-size: 10px;
  }
  header > div {
    width: 100%;
  }
  header p {
    max-width: 100%;
  }

  .members {
    gap: 30px;
  }
  .members > div:nth-child(3n + 2) {
    margin-top: 0px;
  }
  .members > div:nth-child(2n + 2) {
    margin-top: 30px;
  }
  footer {
    margin: 60px 0 20px 0;
  }
}
